*.pyc
/adversarial/*.pyc
/adversarial/lib/*.pyc
/adversarial/lib/datasets/*.pyc
/adversarial/lib/models/*.pyc
/adversarial/lib/transformations/*.pyc
/adversarial.egg-info/**
/build/**
/adversarial/lib/models/inceptionresnetv2.py
/adversarial/lib/models/inceptionv4.py
/adversarial/lib/transformations/CHANGES.TXT
/adversarial/lib/transformations/README.TXT
/adversarial/lib/transformations/_denoise_cy.pyx
/adversarial/lib/transformations/block.h
/adversarial/lib/transformations/graph.cpp
/adversarial/lib/transformations/graph.h
/adversarial/lib/transformations/instances.inc
/adversarial/lib/transformations/maxflow.cpp
/adversarial/lib/transformations/maxflow.zip
/adversarial/lib/transformations/tv_bregman.c
/adversarial/lib/transformations/tv_bregman.pyx
/adversarial/lib/transformations/tv_bregman.pyx.rej
